td         {
                
                border:1px solid red;
            }
            
            .esquinas{
                background-color: black;
                color: white
                    
            }